/*Imports */
@font-face {
  font-family: "AlexBrush";
  src: url("../fonts/AlexBrush-Regular.ttf"); }

@font-face {
  font-family: "GreatVibes";
  src: url("../fonts/GreatVibes-Regular.otf"); }

@font-face {
  font-family: "FreeBooters";
  src: url("../fonts/freebooterscript.ttf"); }

@font-face {
  font-family: "Redressed";
  src: url("../fonts/Redressed.ttf"); }

/*Fin Imports */
/*Estilos del Nav */
.div-nav {
  display: flex;
  justify-content: center;
  align-items: center; }

a {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "redressed";
  font-size: 30px;
  color: #f8edeb;
  transition: color 1s; }
  a:hover {
    color: #a77b37; }

.menu {
  display: flex;
  flex-direction: column; }
  .menu li {
    display: flex;
    border: 1px solid #f8edeb;
    background-color: #a77b37;
    text-shadow: 0 0 1px black;
    transition: background-color 1s, border 1s, transform 1s, color 1s;
    padding: 2px;
    margin: 4px;
    color: #f8edeb;
    flex-direction: column; }
    .menu li:hover {
      background-color: #f8edeb;
      border: 1px solid #a77b37;
      transform: translateX(10px);
      color: #a77b37; }

/*Fin Estilos del Nav*/
/* Estilos del Body */
body {
  background-image: url("../img/backtest2.jpg");
  background-size: cover; }

p,
dt,
dd {
  display: inline-block;
  text-align: center;
  color: #f8edeb;
  font-family: "Redressed";
  font-size: 20px;
  text-shadow: 0 0 3px black;
  padding: 5px; }

dt {
  font-weight: bold; }

nav ul li {
  list-style-type: none;
  border-radius: 10px;
  text-shadow: 0 0 2px white; }

h1 {
  margin-top: 10px;
  color: #f8edeb;
  font-weight: bold;
  font-family: "FreeBooters";
  text-shadow: 0 0 1px black;
  text-align: center; }

h2 {
  color: black;
  font-weight: bold;
  font-family: "FreeBooters";
  text-shadow: 0 0 1px black;
  text-align: center; }

/*Estilos Tabla*/
.container-table {
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../img/serviciosespeciales3.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 15px;
  display: flex; }

table {
  text-align: center;
  color: #f8edeb;
  font-family: "Redressed";
  font-size: 20px;
  text-shadow: 0 0 1px #f8edeb;
  border-collapse: collapse;
  border: 3px solid #f8edeb;
  box-sizing: border-box;
  table-layout: auto;
  height: 100%; }

table tr td table tr {
  border: none; }

table tbody tr td table {
  background-image: none;
  border-style: none;
  display: inline-table;
  width: 100%;
  height: 100%; }

table tbody tr td {
  border: none; }

/* Fin estilos tabla */
/* Estilos del Flexbox */
.flex-container {
  margin: 5px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.flex-child {
  margin: 5px;
  height: 300px;
  width: 900x; }

.flex-child img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

/* Fin Estilos del Flexbox */
/* Estilos de Clase*/
.titulo {
  width: 80%;
  height: 80%; }

.banner img {
  justify-content: center;
  align-items: center;
  object-fit: contain; }

section,
article {
  text-align: center; }

.redondeado {
  text-align: center;
  background-image: url("../img/border1.png");
  background-size: 100% 90%;
  background-position: center;
  padding: 45px;
  background-repeat: no-repeat;
  display: inline-table; }

.container-productos {
  display: flex;
  align-items: center;
  justify-content: center; }

.container-servicios {
  display: flex;
  justify-content: center;
  align-items: center; }

.marginado {
  color: #f8edeb;
  list-style-type: none; }
  .marginado li {
    font-weight: bold; }
  .marginado li ul li {
    list-style-type: none;
    font-weight: lighter; }

.secIframe {
  display: flex;
  justify-content: center; }

.div-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px; }
  .div-img img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.div-cards {
  display: flex;
  justify-content: center;
  align-items: center; }
  .div-cards .card {
    overflow: hidden; }
    .div-cards .card .card-img-top {
      border-radius: 15px;
      transition: transform .5s ease; }
    .div-cards .card .card-img-top:hover {
      transform: scale(1.5); }

/*Fin Estilos Clases */
/* Estilos Slider Banner */
.carousel-indicators {
  background-color: #a77b37;
  border-radius: 15%;
  margin-right: 35%;
  margin-left: 35%; }

.carousel-control-prev,
.carousel-control-next {
  opacity: 1; }
  .carousel-control-prev .carousel-control-prev-icon,
  .carousel-control-prev .carousel-control-next-icon,
  .carousel-control-next .carousel-control-prev-icon,
  .carousel-control-next .carousel-control-next-icon {
    background-color: #a77b37;
    border-radius: 50%; }

/* Fin estilos Slider Banner */
.social-bar {
  position: fixed;
  right: 0;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1; }
  .social-bar .facebook-icon {
    width: 80px;
    height: 80px;
    background: url("../img/facebook-icon.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 1s;
    opacity: 80%; }
  .social-bar .facebook-icon:hover {
    background-size: 100%;
    background-position: center;
    opacity: 100%; }
  .social-bar .instagram-icon {
    width: 80px;
    height: 80px;
    background: url("../img/instagram-icon.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 1s;
    opacity: 80%; }
  .social-bar .instagram-icon:hover {
    background-size: 100%;
    background-position: center;
    opacity: 100%; }
  .social-bar .whatsapp-icon {
    width: 80px;
    height: 80px;
    background: url("../img/whatsapp-icon.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 1s;
    opacity: 80%; }
  .social-bar .whatsapp-icon:hover {
    background-size: 100%;
    background-position: center;
    opacity: 100%; }
  .social-bar .color--facebook {
    color: #3b5998; }
  .social-bar .color--instagram {
    color: #dd2a7b; }
  .social-bar .color--whatsapp {
    color: #00bb2d; }

.texto-carta {
  color: #f8edeb;
  background-color: #a77b37;
  width: 250px;
  height: 50px; }

form {
  color: #f8edeb; }

footer, .texto-carta {
  padding-top: 10px; }

/* Vista en Mobile*/
@media screen and (max-width: 768px) {
  .menu li:hover {
    transition: none;
    transform: none; }
  a:hover {
    transform: none;
    transition: none; } }

/*Fin vista Mobile */
